#board {
    display: inline-block;
}

#header,
#header div {
    display: inline-block;
}

#title,
#options,
#avatar {
    width: 300px;
}

#avatar {
    text-align: right;
}

#game {
    min-width: 950px;   
}

#status {
    display: inline-block;
    vertical-align: top;
}

#status h3 {
    margin: 0;
    text-align: center;
}

#prompts {
    display: block;
}

#timer-box {
    border: 1px solid #333;
}

#black-time,
#white-time {
    text-align: center;
    font-weight: bold;
}

.square {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    display: inline-block;
    font-size: 72px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 4px;
}

.grid {
    width: 75px;
    height: 50px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: #333;
    margin-bottom: 4px;
    margin-right: 2px;
}

#row1 .square:nth-child(odd),
#row3 .square:nth-child(odd),
#row5 .square:nth-child(odd),
#row7 .square:nth-child(odd) {
    background-color: palevioletred;
}

#row1 .square:nth-child(even),
#row3 .square:nth-child(even),
#row5 .square:nth-child(even),
#row7 .square:nth-child(even) {
    background-color: gray;
}

#row2 .square:nth-child(odd),
#row4 .square:nth-child(odd),
#row6 .square:nth-child(odd),
#row8 .square:nth-child(odd) {
    background-color: gray;
}

#row2 .square:nth-child(even),
#row4 .square:nth-child(even),
#row6 .square:nth-child(even),
#row8 .square:nth-child(even) {
    background-color: palevioletred;
}

.selected {
    background-color: chartreuse !important;
}

.highlight {
    background-color: dodgerblue !important;
}

#captured {
    font-size: 48px;
}